language: julia
os:
  - linux
  - osx
julia:
  - release
  - nightly
notifications:
  email: false
after_success:
  - julia -e 'cd(Pkg.dir("Distributions")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
